flows/ApproveAdjust.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>SourceID</name>
        <label>SourceID</label>
        <locationX>37</locationX>
        <locationY>213</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsMilestone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a34</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupMilestone</targetReference>
            </connector>
            <label>IsMilestone</label>
        </rules>
        <rules>
            <name>IsMisAdjust</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a35</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LookupAdjustment</targetReference>
            </connector>
            <label>IsMisAdjust</label>
        </rules>
    </decisions>
    <interviewLabel>ApproveAdjust {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ApproveAdjust</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>LookupAdjustment</name>
        <label>LookupAdjustment</label>
        <locationX>172</locationX>
        <locationY>108</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Budget_Effective_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastModifiedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecID</elementReference>
            </value>
        </filters>
        <object>pse__Miscellaneous_Adjustment__c</object>
        <outputAssignments>
            <assignToReference>Date</assignToReference>
            <field>pse__Effective_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupMilestone</name>
        <label>LookupMilestone</label>
        <locationX>180</locationX>
        <locationY>321</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Milestone_Actual_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecID</elementReference>
            </value>
        </filters>
        <object>pse__Milestone__c</object>
        <outputAssignments>
            <assignToReference>Date</assignToReference>
            <field>pse__Actual_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Milestone</name>
        <label>Update Milestone</label>
        <locationX>517</locationX>
        <locationY>319</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Submit_For_Approval__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Actual_Date__c</field>
            <value>
                <elementReference>Effective_Date_0</elementReference>
            </value>
        </inputAssignments>
        <object>pse__Milestone__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_MisAdjust</name>
        <label>Update MisAdjust</label>
        <locationX>506</locationX>
        <locationY>110</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Submit_For_Approval__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Effective_Date__c</field>
            <value>
                <elementReference>Effective_Date</elementReference>
            </value>
        </inputAssignments>
        <object>pse__Miscellaneous_Adjustment__c</object>
    </recordUpdates>
    <screens>
        <name>Budget_Effective_Date</name>
        <label>Budget Effective Date</label>
        <locationX>332</locationX>
        <locationY>105</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_MisAdjust</targetReference>
        </connector>
        <fields>
            <name>Effective_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Effective_Date</elementReference>
            </defaultValue>
            <fieldText>Effective Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Milestone_Actual_Date</name>
        <label>Milestone Actual Date</label>
        <locationX>343</locationX>
        <locationY>321</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Milestone</targetReference>
        </connector>
        <fields>
            <name>Effective_Date_0</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Effective_Date</elementReference>
            </defaultValue>
            <fieldText>Acutal Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>SourceID</startElementReference>
    <status>Active</status>
    <variables>
        <name>Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MisId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
