flows/Create_Resource_Request.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Region_and_Practice_are_Populated</name>
        <label>Region and Practice are Populated</label>
        <locationX>159</locationX>
        <locationY>182</locationY>
        <defaultConnector>
            <targetReference>Check_Create_Resource_Request_on_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Practice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Region</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Region_and_Practice_Must_Be_Populated</targetReference>
            </connector>
            <label>Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>WonCheck</name>
        <label>WonCheck</label>
        <locationX>307</locationX>
        <locationY>87</locationY>
        <defaultConnector>
            <targetReference>Not_Won</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotWon</defaultConnectorLabel>
        <rules>
            <name>IsWon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>won</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Region_and_Practice_are_Populated</targetReference>
            </connector>
            <label>IsWon</label>
        </rules>
    </decisions>
    <interviewLabel>Create Resource Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Resource Request</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Look_Up_Opportunity</name>
        <label>Look Up Opportunity</label>
        <locationX>159</locationX>
        <locationY>19</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WonCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>won</assignToReference>
            <field>IsWon</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Practice</assignToReference>
            <field>pse__Practice__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrimaryProjectId</assignToReference>
            <field>pse__Primary_Project__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Region</assignToReference>
            <field>pse__Region__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Check_Create_Resource_Request_on_Opportunity</name>
        <label>Check Create Resource Request on Opportunity</label>
        <locationX>162</locationX>
        <locationY>309</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Create_Resource_Requests__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Not_Won</name>
        <label>Not Won</label>
        <locationX>457</locationX>
        <locationY>156</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Region_and_Practice_are_Populated</targetReference>
        </connector>
        <fields>
            <name>NotWonText</name>
            <fieldText>This opportunity is not closed won, do you want to create the resource requests?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Region_and_Practice_Must_Be_Populated</name>
        <label>Region and Practice Must Be Populated</label>
        <locationX>313</locationX>
        <locationY>288</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>CompleteFields</name>
            <fieldText>You must go back to the Opportunity and select a Region and Practice before a Resource Request can be created.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Look_Up_Opportunity</startElementReference>
    <status>Active</status>
    <variables>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Practice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrimaryProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Region</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>won</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
