flows/IsWonCheck.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>IsStageWon</name>
        <label>IsStageWon</label>
        <locationX>283</locationX>
        <locationY>80</locationY>
        <defaultConnector>
            <targetReference>Not_Closed_Won</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Won</defaultConnectorLabel>
        <rules>
            <name>Won</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsWon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Won</label>
        </rules>
    </decisions>
    <interviewLabel>IsWonCheck {!$Flow.CurrentDateTime}</interviewLabel>
    <label>IsWonCheck</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>LookupOpp</name>
        <label>LookupOpp</label>
        <locationX>103</locationX>
        <locationY>81</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsStageWon</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>IsWon</assignToReference>
            <field>IsWon</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>StageName</assignToReference>
            <field>StageName</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Not_Closed_Won</name>
        <label>Not Closed Won</label>
        <locationX>451</locationX>
        <locationY>76</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotWon</name>
            <fieldText>This opportunity is still open, are you sure you want to create a resource request?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>LookupOpp</startElementReference>
    <status>Active</status>
    <variables>
        <name>IsWon</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StageName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
