flows/Milestone_Creation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_to_OppLineItemsAllGroup</name>
        <label>Assign to OppLineItemsAllGroup</label>
        <locationX>218</locationX>
        <locationY>204</locationY>
        <assignmentItems>
            <assignToReference>OppLineItemsAllGrouped</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppLineItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopProductLines_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_OppLineItemsAllGroup_1</name>
        <label>Assign to OppLineItemsAllGroup</label>
        <locationX>128</locationX>
        <locationY>555</locationY>
        <assignmentItems>
            <assignToReference>OppLineItemsAllGrouped</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppLineItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopProductLines_1_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_OppLineItemsAllGroup_1_0</name>
        <label>Assign to OppLineItemsAllGroup</label>
        <locationX>539</locationX>
        <locationY>200</locationY>
        <assignmentItems>
            <assignToReference>OppLineItemsFinal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppLineItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopProductLines</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_OppLineItemsAllGroup_1_0_0</name>
        <label>Assign to OppLineItemsAllGroup</label>
        <locationX>815</locationX>
        <locationY>645</locationY>
        <assignmentItems>
            <assignToReference>OppLineItemsFinal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppLineItems</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopProductLines_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToProcessed</name>
        <label>AssignToProcessed</label>
        <locationX>680</locationX>
        <locationY>220</locationY>
        <assignmentItems>
            <assignToReference>OppLineItems.Processed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_OppLineItemsAllGroup_1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToProcessed_1</name>
        <label>AssignToProcessed</label>
        <locationX>951</locationX>
        <locationY>597</locationY>
        <assignmentItems>
            <assignToReference>OppLineItems.Processed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_OppLineItemsAllGroup_1_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountAmount_0</name>
        <label>CountHours</label>
        <locationX>377</locationX>
        <locationY>35</locationY>
        <assignmentItems>
            <assignToReference>Hours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppLineItems.Hours_Info_Only__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FairAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OppLineItems.Contract_Sales_Price_Fair_Value__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsHourlyProduct</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>FairAmountNot0</name>
        <label>FairAmountNot0</label>
        <locationX>475</locationX>
        <locationY>351</locationY>
        <defaultConnector>
            <targetReference>UpdateLIprocessed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NotBlank</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FairAmount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateBudget</targetReference>
            </connector>
            <label>NotBlank</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsHourlyProduct</name>
        <label>IsHourlyProduct</label>
        <locationX>537</locationX>
        <locationY>39</locationY>
        <defaultConnector>
            <targetReference>Create_Milestone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Hourly</defaultConnectorLabel>
        <rules>
            <name>Hourly</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OppLineItems.Milestone_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Hourly</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OppLineItems.Contract_Sales_Price_Fair_Value__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignToProcessed</targetReference>
            </connector>
            <label>Hourly</label>
        </rules>
    </decisions>
    <interviewLabel>Milestone Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Milestone Creation</label>
    <loops>
        <name>LoopOverRR</name>
        <label>LoopOverRR</label>
        <locationX>205</locationX>
        <locationY>322</locationY>
        <assignNextValueToReference>ResourceRequestObjectVar</assignNextValueToReference>
        <collectionReference>ResourceRequestCollectionVar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Lookup_Lines_1_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopProductLines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopProductLines</name>
        <label>LoopProductLines</label>
        <locationX>407</locationX>
        <locationY>153</locationY>
        <assignNextValueToReference>OppLineItems</assignNextValueToReference>
        <collectionReference>OppLineItemsAllGrouped</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CountAmount_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateProject</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopProductLines_0</name>
        <label>LoopProductLines</label>
        <locationX>719</locationX>
        <locationY>447</locationY>
        <assignNextValueToReference>OppLineItems</assignNextValueToReference>
        <collectionReference>NonServiceProduct</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateAdjustment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateLIprocessed_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopProductLines_1</name>
        <label>LoopProductLines</label>
        <locationX>197</locationX>
        <locationY>71</locationY>
        <assignNextValueToReference>OppLineItems</assignNextValueToReference>
        <collectionReference>OppLineItemsAll</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_OppLineItemsAllGroup</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Lookup_Resource_Requests</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopProductLines_1_1</name>
        <label>LoopProductLines</label>
        <locationX>236</locationX>
        <locationY>439</locationY>
        <assignNextValueToReference>OppLineItems</assignNextValueToReference>
        <collectionReference>OppLineItemsAll</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_OppLineItemsAllGroup_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopOverRR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Milestone</name>
        <label>Create Milestone</label>
        <locationX>723</locationX>
        <locationY>35</locationY>
        <assignRecordIdToReference>MilestoneId</assignRecordIdToReference>
        <connector>
            <targetReference>AssignToProcessed</targetReference>
        </connector>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>OppLineItems.ProductCategoryText__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OppLineItems.Account_Name_Product_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Type__c</field>
            <value>
                <elementReference>OppLineItems.ProductTypeText__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>OppLineItems.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Milestone_Amount__c</field>
            <value>
                <elementReference>OppLineItems.Contract_Sales_Price_Fair_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Planned_Hours__c</field>
            <value>
                <elementReference>OppLineItems.Hours_Info_Only__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Project__c</field>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Status__c</field>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Target_Date__c</field>
            <value>
                <elementReference>EndDate</elementReference>
            </value>
        </inputAssignments>
        <object>pse__Milestone__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateAdjustment</name>
        <label>CreateAdjustment</label>
        <locationX>942</locationX>
        <locationY>454</locationY>
        <assignRecordIdToReference>AdjustmentId</assignRecordIdToReference>
        <connector>
            <targetReference>AssignToProcessed_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OppLineItems.Account_Name_Product_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Amount__c</field>
            <value>
                <elementReference>OppLineItems.Contract_Sales_Price_Fair_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Effective_Date__c</field>
            <value>
                <elementReference>EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Include_In_Financials__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Project__c</field>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Transaction_Category__c</field>
            <value>
                <stringValue>Revenue</stringValue>
            </value>
        </inputAssignments>
        <object>pse__Miscellaneous_Adjustment__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateBudget</name>
        <label>CreateBudget</label>
        <locationX>658</locationX>
        <locationY>347</locationY>
        <assignRecordIdToReference>BudgetId</assignRecordIdToReference>
        <connector>
            <targetReference>UpdateLIprocessed</targetReference>
        </connector>
        <inputAssignments>
            <field>Created_from_Opportunity__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>Currency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Service Budget</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Account__c</field>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Amount__c</field>
            <value>
                <elementReference>FairAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Billable__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Effective_Date__c</field>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Include_In_Financials__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Opportunity__c</field>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Pre_Billed_Amount__c</field>
            <value>
                <elementReference>FairAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Project__c</field>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Type__c</field>
            <value>
                <stringValue>Customer Purchase Order</stringValue>
            </value>
        </inputAssignments>
        <object>pse__Budget__c</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Lines</name>
        <label>Lookup Lines</label>
        <locationX>35</locationX>
        <locationY>139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopProductLines_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract_Sales_Price_Fair_Value__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Hours_Info_Only__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Milestone_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectType</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PSA_ProjectType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Milestone</stringValue>
            </value>
        </filters>
        <filters>
            <field>Processed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>OppLineItemsAll</outputReference>
        <queriedFields>Hours_Info_Only__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>Default_Resource_Role__c</queriedFields>
        <queriedFields>Opportunity_Region__c</queriedFields>
        <queriedFields>Effective_Bill_Rate__c</queriedFields>
        <queriedFields>Contract_Sales_Price_Fair_Value__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>ProductTypeText__c</queriedFields>
        <queriedFields>ProductCategoryText__c</queriedFields>
        <queriedFields>Name__c</queriedFields>
        <queriedFields>Milestone_Category__c</queriedFields>
        <queriedFields>Account_Name_Product_Name__c</queriedFields>
        <queriedFields>PSA_ProjectType__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Lines_0</name>
        <label>Lookup Lines</label>
        <locationX>459</locationX>
        <locationY>580</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopProductLines_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract_Sales_Price_Fair_Value__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Milestone_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectType</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PSA_ProjectType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Misc. Adjustment</stringValue>
            </value>
        </filters>
        <filters>
            <field>Processed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>NonServiceProduct</outputReference>
        <queriedFields>PSA_ProjectType__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>Default_Resource_Role__c</queriedFields>
        <queriedFields>Opportunity_Region__c</queriedFields>
        <queriedFields>Effective_Bill_Rate__c</queriedFields>
        <queriedFields>Contract_Sales_Price_Fair_Value__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>ProductTypeText__c</queriedFields>
        <queriedFields>ProductCategoryText__c</queriedFields>
        <queriedFields>Name__c</queriedFields>
        <queriedFields>Account_Name_Product_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Lines_1_0</name>
        <label>Lookup Lines</label>
        <locationX>32</locationX>
        <locationY>462</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopProductLines_1_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract_Sales_Price_Fair_Value__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Processed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResourceRequestObjectVar.Product__c</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>OppLineItemsAll</outputReference>
        <queriedFields>Hours_Info_Only__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>Default_Resource_Role__c</queriedFields>
        <queriedFields>Opportunity_Region__c</queriedFields>
        <queriedFields>Effective_Bill_Rate__c</queriedFields>
        <queriedFields>Contract_Sales_Price_Fair_Value__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Product2Id</queriedFields>
        <queriedFields>ProductTypeText__c</queriedFields>
        <queriedFields>ProductCategoryText__c</queriedFields>
        <queriedFields>Name__c</queriedFields>
        <queriedFields>Milestone_Category__c</queriedFields>
        <queriedFields>Account_Name_Product_Name__c</queriedFields>
        <queriedFields>PSA_ProjectType__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Resource_Requests</name>
        <label>Lookup Resource Requests</label>
        <locationX>37</locationX>
        <locationY>277</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOverRR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PSA_Category__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>ProjectType</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <object>pse__Resource_Request__c</object>
        <outputReference>ResourceRequestCollectionVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Product_Category__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupProject</name>
        <label>LookupProject</label>
        <locationX>30</locationX>
        <locationY>15</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <object>pse__Proj__c</object>
        <outputAssignments>
            <assignToReference>Currency</assignToReference>
            <field>CurrencyIsoCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>pse__Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>EndDate</assignToReference>
            <field>pse__End_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Hours</assignToReference>
            <field>pse__Planned_Hours__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ProjectType</assignToReference>
            <field>pse__Project_Type__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>StartDate</assignToReference>
            <field>pse__Start_Date__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateLIprocessed</name>
        <label>UpdateLIprocessed</label>
        <locationX>487</locationX>
        <locationY>466</locationY>
        <connector>
            <targetReference>Lookup_Lines_0</targetReference>
        </connector>
        <inputReference>OppLineItemsAllGrouped</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLIprocessed_1</name>
        <label>UpdateLIprocessed</label>
        <locationX>643</locationX>
        <locationY>636</locationY>
        <inputReference>OppLineItemsFinal</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateProject</name>
        <label>UpdateProject</label>
        <locationX>397</locationX>
        <locationY>266</locationY>
        <connector>
            <targetReference>FairAmountNot0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pse__Planned_Hours__c</field>
            <value>
                <elementReference>Hours</elementReference>
            </value>
        </inputAssignments>
        <object>pse__Proj__c</object>
    </recordUpdates>
    <startElementReference>LookupProject</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AdjustmentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Amount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BudgetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreateTime</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Currency</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EndDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FairAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>Hours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>HoursCheck</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>LineItemID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LIprocessed</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>MilestoneId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NonServiceProduct</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OppLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OppLineItemsAll</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OppLineItemsAllGrouped</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OppLineItemsFinal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OppName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Processed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ResourceReqId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResourceRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Resource_Request__c</objectType>
    </variables>
    <variables>
        <name>ResourceRequestCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Resource_Request__c</objectType>
    </variables>
    <variables>
        <name>ResourceRequestObjectVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Resource_Request__c</objectType>
    </variables>
    <variables>
        <name>StartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
