flows/RegionLookup.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>RegionLookup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RegionLookup</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>AccountRegion</name>
        <label>AccountRegion</label>
        <locationX>255</locationX>
        <locationY>131</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupRegion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>SubRegion</assignToReference>
            <field>Sub_Region__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupOpp</name>
        <label>LookupOpp</label>
        <locationX>94</locationX>
        <locationY>122</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountRegion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>AccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupPractice</name>
        <label>LookupPractice</label>
        <locationX>431</locationX>
        <locationY>217</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateOpp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client Services</stringValue>
            </value>
        </filters>
        <object>pse__Practice__c</object>
        <outputAssignments>
            <assignToReference>PracticeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupRegion</name>
        <label>LookupRegion</label>
        <locationX>435</locationX>
        <locationY>133</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LookupPractice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SubRegion</elementReference>
            </value>
        </filters>
        <object>pse__Region__c</object>
        <outputAssignments>
            <assignToReference>RegionId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateOpp</name>
        <label>UpdateOpp</label>
        <locationX>611</locationX>
        <locationY>132</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pse__Practice__c</field>
            <value>
                <elementReference>PracticeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Region__c</field>
            <value>
                <elementReference>RegionId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>LookupOpp</startElementReference>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PracticeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RegionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SubRegion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
