flows/Resource_Request_Automatino.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <interviewLabel>Resource Request Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resource Request Automation</label>
    <loops>
        <name>LoopProductLines</name>
        <label>LoopProductLines</label>
        <locationX>219</locationX>
        <locationY>209</locationY>
        <assignNextValueToReference>OppLineItems</assignNextValueToReference>
        <collectionReference>OppLineItemsAll</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Resource_Request</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Resource_Request</name>
        <label>Create Resource Request</label>
        <locationX>458</locationX>
        <locationY>127</locationY>
        <assignRecordIdToReference>ResourceReqId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_LineItem</targetReference>
        </connector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>OppLineItems.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Category__c</field>
            <value>
                <elementReference>OppLineItems.ProductCategoryText__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>OppLineItems.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__End_Date__c</field>
            <value>
                <elementReference>DefaultRREnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Opportunity__c</field>
            <value>
                <elementReference>OppLineItems.OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Planned_Bill_Rate__c</field>
            <value>
                <elementReference>OppLineItems.Effective_Bill_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Practice__c</field>
            <value>
                <elementReference>Practice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Project__c</field>
            <value>
                <elementReference>PrimaryProjectId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Region__c</field>
            <value>
                <elementReference>Region</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Resource_Request_Name__c</field>
            <value>
                <elementReference>OppLineItems.Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Resource_Role__c</field>
            <value>
                <elementReference>OppLineItems.Default_Resource_Role__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__SOW_Hours__c</field>
            <value>
                <elementReference>OppLineItems.Hours_Info_Only__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Start_Date__c</field>
            <value>
                <elementReference>DefaultRRStart</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>pse__Resource_Request__c</object>
    </recordCreates>
    <recordLookups>
        <name>Lookup_Lines</name>
        <label>Lookup Lines</label>
        <locationX>28</locationX>
        <locationY>205</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopProductLines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProductCategoryText__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Training</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductTypeText__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>License</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputReference>OppLineItemsAll</outputReference>
        <queriedFields>Hours_Info_Only__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>UnitPrice</queriedFields>
        <queriedFields>OpportunityId</queriedFields>
        <queriedFields>Default_Resource_Role__c</queriedFields>
        <queriedFields>Opportunity_Region__c</queriedFields>
        <queriedFields>Effective_Bill_Rate__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Name__c</queriedFields>
        <queriedFields>ProductCategoryText__c</queriedFields>
        <queriedFields>Product2Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Opportunity</name>
        <label>Lookup Opportunity</label>
        <locationX>32</locationX>
        <locationY>91</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lookup_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>DefaultRREnd</assignToReference>
            <field>Default_Resource_Request_End_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>DefaultRRStart</assignToReference>
            <field>Default_Resource_Request_Start_Date__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>OppId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Practice</assignToReference>
            <field>pse__Practice__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PrimaryProjectId</assignToReference>
            <field>pse__Primary_Project__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Region</assignToReference>
            <field>pse__Region__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_LineItem</name>
        <label>Update LineItem</label>
        <locationX>444</locationX>
        <locationY>239</locationY>
        <connector>
            <targetReference>LoopProductLines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OppLineItems.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Resource_Request__c</field>
            <value>
                <elementReference>ResourceReqId</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <startElementReference>Lookup_Opportunity</startElementReference>
    <status>Active</status>
    <variables>
        <name>DefaultRREnd</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DefaultRRStart</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OppLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OppLineItemsAll</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>Practice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PrimaryProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductCategory</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Region</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResourceReqId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResourceRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Resource_Request__c</objectType>
    </variables>
</Flow>
