flows/Task_Manager.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignToCollection</name>
        <label>AssignToCollection</label>
        <locationX>745</locationX>
        <locationY>48</locationY>
        <assignmentItems>
            <assignToReference>TasksToKeep</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TasksSObject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughTasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToCollection_0</name>
        <label>AssignToCollection</label>
        <locationX>979</locationX>
        <locationY>305</locationY>
        <assignmentItems>
            <assignToReference>TasksToKeep</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TasksSObject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughTasks_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToCollection_0_0</name>
        <label>AssignToCollection</label>
        <locationX>169</locationX>
        <locationY>249</locationY>
        <assignmentItems>
            <assignToReference>TasksToKeep</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmptyTasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lookup_MisAdjust</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToCollection_0_0_0</name>
        <label>AssignToCollection</label>
        <locationX>350</locationX>
        <locationY>451</locationY>
        <assignmentItems>
            <assignToReference>TasksToKeep</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TaskDeleteVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopMisAdjust</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToKeep</name>
        <label>AssignToKeep</label>
        <locationX>806</locationX>
        <locationY>215</locationY>
        <assignmentItems>
            <assignToReference>TasksSObject.Keep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignToCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignToKeep_0</name>
        <label>AssignToKeep</label>
        <locationX>980</locationX>
        <locationY>450</locationY>
        <assignmentItems>
            <assignToReference>TasksSObject.Keep__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignToCollection_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Records_Found</name>
        <label>Records Found</label>
        <locationX>219</locationX>
        <locationY>741</locationY>
        <defaultConnector>
            <targetReference>UpdateProject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NotFound</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskDeleteVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteTasks</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <interviewLabel>Task Manager {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task Manager</label>
    <loops>
        <name>LoopMisAdjust</name>
        <label>LoopMisAdjust</label>
        <locationX>285</locationX>
        <locationY>347</locationY>
        <assignNextValueToReference>MisAdjustSobj</assignNextValueToReference>
        <collectionReference>MisAdjust</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Lookup_Tasks_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LookupTasksToDelete</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopProductLines</name>
        <label>LoopProductLines</label>
        <locationX>216</locationX>
        <locationY>123</locationY>
        <assignNextValueToReference>MilestoneSObj</assignNextValueToReference>
        <collectionReference>Milestones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Lookup_Tasks</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateTaskBulk_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughTasks</name>
        <label>LoopThroughTasks</label>
        <locationX>580</locationX>
        <locationY>205</locationY>
        <assignNextValueToReference>TasksSObject</assignNextValueToReference>
        <collectionReference>Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignToKeep</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopProductLines</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopThroughTasks_0</name>
        <label>LoopThroughTasks</label>
        <locationX>653</locationX>
        <locationY>443</locationY>
        <assignNextValueToReference>TasksSObject</assignNextValueToReference>
        <collectionReference>Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignToKeep_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateTaskBulk</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>DeleteTasks</name>
        <label>DeleteTasks</label>
        <locationX>476</locationX>
        <locationY>725</locationY>
        <connector>
            <targetReference>UpdateProject</targetReference>
        </connector>
        <inputReference>TaskDeleteVar</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Lookup_Milestones</name>
        <label>Lookup Milestones</label>
        <locationX>39</locationX>
        <locationY>83</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopProductLines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <object>pse__Milestone__c</object>
        <outputReference>Milestones</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_MisAdjust</name>
        <label>Lookup MisAdjust</label>
        <locationX>27</locationX>
        <locationY>339</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopMisAdjust</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <object>pse__Miscellaneous_Adjustment__c</object>
        <outputReference>MisAdjust</outputReference>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Tasks</name>
        <label>Lookup Tasks</label>
        <locationX>502</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughTasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MilestoneSObj.Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <object>pse__Project_Task__c</object>
        <outputReference>Tasks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>pse__Description__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lookup_Tasks_0</name>
        <label>Lookup Tasks round 2</label>
        <locationX>537</locationX>
        <locationY>305</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughTasks_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product_Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MisAdjustSobj.Category__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <object>pse__Project_Task__c</object>
        <outputReference>Tasks</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>pse__Description__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookupTasksToDelete</name>
        <label>LookupTasksToDelete</label>
        <locationX>217</locationX>
        <locationY>637</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Keep__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <object>pse__Project_Task__c</object>
        <outputReference>TaskDeleteVar</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateProject</name>
        <label>UpdateProject</label>
        <locationX>418</locationX>
        <locationY>837</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Process_Tasks__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>pse__Proj__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateTaskBulk</name>
        <label>UpdateTaskBulk</label>
        <locationX>494</locationX>
        <locationY>499</locationY>
        <connector>
            <targetReference>AssignToCollection_0_0_0</targetReference>
        </connector>
        <inputReference>TasksToKeep</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateTaskBulk_0</name>
        <label>UpdateTaskBulk</label>
        <locationX>324</locationX>
        <locationY>248</locationY>
        <connector>
            <targetReference>AssignToCollection_0_0</targetReference>
        </connector>
        <inputReference>TasksToKeep</inputReference>
    </recordUpdates>
    <startElementReference>Lookup_Milestones</startElementReference>
    <status>Active</status>
    <variables>
        <name>EmptyTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>MilestoneId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Milestones</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Milestone__c</objectType>
    </variables>
    <variables>
        <name>MilestoneSObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Milestone__c</objectType>
    </variables>
    <variables>
        <name>MisAdjust</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Miscellaneous_Adjustment__c</objectType>
    </variables>
    <variables>
        <name>MisAdjustSobj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Miscellaneous_Adjustment__c</objectType>
    </variables>
    <variables>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OppLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OppLineItemsAll</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ResourceReqId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResourceRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Resource_Request__c</objectType>
    </variables>
    <variables>
        <name>StartDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskDeleteVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>TasksFast</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>TasksSObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Project_Task__c</objectType>
    </variables>
    <variables>
        <name>TasksToKeep</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pse__Project_Task__c</objectType>
    </variables>
</Flow>
